.full-screen {
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100vh; /* Full height minus header height */
  overflow-y: auto; /* Allow scrolling */
  padding: 20px;
  overflow-y: auto; /* Allow scrolling */

}

.camera-container {
  padding-top: 20px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */
  padding: 0;
  background-color: #fff;
  border: 1px solid #b4b4b4; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(138, 138, 138, 0.2);
  width: 60%;
  max-height: auto; /* Restrict height to prevent overflow */
  margin-bottom: 100px; 
}

.webcam-container {
  position: relative; 
  display: flex;
  justify-content: center; /* Center the webcam horizontally */
  align-items: center; /* Center the webcam vertically */
  width: 100%; 
  height: 100%; 
  opacity: 1;
  background-color: #fff;
  opacity: 1;
}

.webcam-container video {
  width: 80%;
  height: 70vh; /* Let the webcam adjust its height based on the container */
  object-fit: cover;
}

h2 {
  color: #525252;
}

.message-text {
  font-size: 16px;
  color: #525252;
}

.camera-container button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  position: relative;
  z-index: 10;
  align-self: center; /* Center button horizontally */

}

@media (max-width: 900px) {
  .full-screen{
    padding: 0;
  }

  .camera-container {
    height: auto; /* Let content determine the height */
    width: 100%;
    padding-bottom: 60px; /* Add space at the bottom for the button */
  }
  
  h2 {
      font-size: 20px;
  }

  .message-text {
      font-size: 13px !important;
      text-align: center; 
  }

  .canvas-container{
      top: 80px !important;
      left: 60px !important;
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}